body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.org{
    color: orange;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.half-width{
    width: 50%;
    padding-left: 7%;
}
.half-width img{
    width: 80%;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.first-sec{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.first-sec-p{
    margin-bottom: 30px;
}
.anchor-button{
    color: white;
    background-image: linear-gradient(#FF9671, #FF694C);
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 40px;
    text-decoration: none;
}
.second-sec{
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.second-sec-p{
    padding-right: 150px;
    margin-bottom: 30px;
}
.final-section{
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.final-section h1{
    padding-left: 7%;
}
.skill-item{
    width: 40%;
    border-radius: 0px 10px 10px 0px;
    margin: 0% 5% 0% 5%;
    box-shadow: 10px 10px 50px gray;
    padding: 0px 10px 15px 40px;
}
#first-iteam{
    border-left: 10px solid;
    border-image: linear-gradient(#FF9C34, #FFCC1A);
    border-image-slice: 1;
}
#second-iteam{
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    color: dimgray;
    text-align: center;
}
#anchor-port{
    color: dimgray;
    text-decoration: none;
    font-weight: 700;
}